Repository ml4ai/skema, pull requests merged in 2023-06, with the labels that each got.

#222 Build and publish project docker images to lumai dockerhub namespace
  .github/workflows/docker.yml
Labels: Integration

#236 Updating Gromet FN Python data-model to 0.1.7
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_object.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/typed_value.py
Labels: enhancement, Code2FN

#254 Remove Dockerfile.img2mml
  Dockerfile.img2mml
Labels: Integration, Equations

#258 Include working MathJax server in docker image
  Dockerfile.skema-py
  README.md
  docker-compose.img2mml.yml
  docs/dev/env.md
  pyproject.toml
  skema/data/__init__.py
  skema/data/eq2mml/__init__.py
  skema/data/eq2mml/images/bayes-rule-transparent.png
  skema/data/eq2mml/images/bayes-rule-white-bg.png
  skema/img2mml/api.py
  skema/img2mml/data_generation/.gitignore
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/data_generation/package.json
  skema/img2mml/eq2mml.py
  skema/img2mml/latex2mml.py
Labels: bug, Integration, Equations

#267 [code2fn] - Adding zip->Gromet endpoint
  Dockerfile.skema-py
  skema/skema_py/server.py
Labels: enhancement, Code2FN

#273 Correct return type for PA endpoints
  README.md
  skema/skema_py/server.py
Labels: Integration, Code2FN

#275 [demo] Add optional demo dependencies
  Dockerfile.skema-py
  pyproject.toml
Labels: Integration

#276 Gracefully handle optional fields in PA
  skema/gromet/__init__.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/script_functions.py
  skema/skema_py/server.py
Labels: Integration, bugfix, Code2FN

#284 Examples now live in ml4ai/ASKEM-TA1-DockerVM
  README.md
  docker-compose.img2mml.yml
  docker-compose.memgraph.yml
  docker-compose.skema-py.yml
  docker-compose.skema-rs.yml
  docker-compose.yml
  docs/dev/env.md
  docs/dev/eqn2mml.md
  docs/examples.md
  docs/team.md
  mkdocs.yml
  notebooks/README.md
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
  notebooks/demos/2022-12-08/mention_linking.ipynb
  notebooks/demos/2023-06-28/ISA_M8_demo.ipynb
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  notebooks/demos/2023-06-28/data/SIDARTHEV_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq9.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq8.xml
  notebooks/demos/2023-06-28/data/lotka_voltera/mml_list.txt
  notebooks/demos/2023-06-28/data/simple_sir_v1/mml_list.txt
  notebooks/demos/2023-06-28/data/sir_core--Gromet-FN-auto.json
Labels: documentation

#288 Add /fn-supported-file-extensions endpoint and additional skema-py endpoint updates
  skema/program_analysis/comments.py
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Labels: documentation, enhancement

#292 [moviz] Removes deprecated MOVIZ code
  .github/workflows/docs.yml
  README.md
  mkdocs.yml
  pyproject.toml
  skema/moviz/.gitignore
  skema/moviz/README.md
  skema/moviz/data/CHIME_SIR_core--Gromet-FN-auto.json
  skema/moviz/data/CHIME_SVIIvR_core--Gromet-FN-auto.json
  skema/moviz/data/cond1--Gromet-FN-auto.json
  skema/moviz/data/exp0--Gromet-FN-auto.json
  skema/moviz/data/exp1--Gromet-FN-auto.json
  skema/moviz/data/exp3--Gromet-FN-auto.json
  skema/moviz/data/fun3--Gromet-FN-auto.json
  skema/moviz/data/import1--Gromet-FN-auto.json
  skema/moviz/data/while1--Gromet-FN-auto.json
  skema/moviz/data/while3--Gromet-FN-auto.json
  skema/moviz/inputs/CHIME_SIR_core.py
  skema/moviz/inputs/CHIME_SVIIvR_core.py
  skema/moviz/inputs/class1.py
  skema/moviz/inputs/cond1.py
  skema/moviz/inputs/exp0.py
  skema/moviz/inputs/exp1.py
  skema/moviz/inputs/exp2.py
  skema/moviz/inputs/exp3.py
  skema/moviz/inputs/for1.py
  skema/moviz/inputs/fun1.py
  skema/moviz/inputs/fun2.py
  skema/moviz/inputs/fun3.py
  skema/moviz/inputs/fun4.py
  skema/moviz/inputs/import1.py
  skema/moviz/inputs/import2.py
  skema/moviz/inputs/import3.py
  skema/moviz/inputs/import4.py
  skema/moviz/inputs/while1.py
  skema/moviz/inputs/while2.py
  skema/moviz/main.py
  skema/moviz/templates/index.html
  skema/moviz/templates/upload.html
  skema/moviz/utils/create_json.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Labels: MOVIZ
