Repository ml4ai/skema, pull requests merged in 2023-10, with the labels that each got.

#538 [CI] Make TR docker build its own workflow
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
  docs/changes.md
Labels: documentation, CI

#539 Updates on handling math expressions — Differential, gradient, dot
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#540 [CI] Additional tricks to save space building and publishing TR image
  .github/workflows/text-reading-docker.yml
Labels: CI

#541 Small bug fix for database.rs
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#542 [code2fn] Adds debug messages when ingesting unsupported files
  pyproject.toml
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Labels: enhancement

#554 Resolves #551
  skema/text_reading/scala/webapp/docker.sbt
Labels: Text Reading, CI

#558 Fix for cross attributal wiring bug
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#564 Opo naming bugfix
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Labels: MORAE

#566 Update to AMR's to use unique id's for the id field
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Labels: MORAE

#560 MATLAB Tree-sitter binary operator support
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/data/binary_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Labels: lang/MATLAB

#567 [fortran] Bug fixes for ingestion TIE-GCM source
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Labels: lang/Fortran

#572 Added support for cosmos json files
  skema/rest/integrated_text_reading_proxy.py
Labels: Integration

#549 [execution_engine] Initial testing support for execution engine and Memgraph instance for CI
  .github/workflows/tests-and-docs.yml
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/tests/test_execution.py
Labels: CI

#582 [release] Record of changes for v1.9.4
  docs/changes.md
Labels: documentation

#585 Update to AMR id's to not have -
  skema/skema-rs/mathml/src/acset.rs
Labels: MORAE

#586 Conditional and While Loop initial support
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#588 revert for amr id changes
  skema/skema-rs/mathml/src/acset.rs
Labels: MORAE

#583 CAST based MATLAB testing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/data/binary_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/matlab2cast.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Labels: lang/MATLAB

#594 Various code2amr fixes
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#597 new ISA feature: integrate the variable definitions in the seed selection
  pyproject.toml
  skema/img2mml/translate.py
  skema/isa/README.md
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/skema-rs/mathml/src/expression.rs
Labels: Equations, MORAE, ISA

#595 [code2fn] Creates model ingestion coverage report generation script
  .github/workflows/tests-and-docs.yml
  mkdocs.yml
  pyproject.toml
  skema/program_analysis/model_coverage_report/base.html
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/models.yaml
  skema/program_analysis/model_coverage_report/tests/test_report_generation.py
  skema/program_analysis/tree_sitter_parsers/util.py
Labels: CI

#598 [TR] [METAL] Added evaluation and improvements for `link_amr`
  skema/metal/model_linker/examples/data/sidarthe_amr.json
  skema/metal/model_linker/examples/data/sidarthe_annotations.json
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Labels: Integration

#600 Incorporate decapodes ACSet serialization
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE

#603 Incorporated Decapodes Ascet serialization of Halfar dome equation 8.2 from CISM documentation
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE

#602 Fn-Preprocessing
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/model_extraction.rs
Labels: Integration, MORAE

#604 Decapodes endpoint
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, MORAE

#606 [TR] Improved the text extractions evaluation endpoint
  skema/rest/schema.py
  skema/rest/utils.py
Labels: enhancement, Integration

#607 [METAL][TR] Updated the `link_amr` endpoint to support better json payloads
  skema/rest/metal_proxy.py
Labels: Integration

#605 Fixed some small bugs for code2amr
  skema/rest/morae_proxy.py
  skema/rest/utils.py
  skema/skema-rs/skema/src/database.rs
Labels: Integration, MORAE

#601 Model linespan endpoint
  pyproject.toml
  skema/rest/api.py
  skema/rest/llm_proxy.py
  skema/rest/proxies.py
  skema/rest/tests/test_llms.py
Labels: Integration

#610 Ensure `skema[llms]` included in docker image build
  pyproject.toml
Labels: bug

#608 [execution_engine] Endpoint for parameter extraction and amr enrichment
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution_server.py
  skema/rest/api.py
Labels: enhancement, Integration

#611 Fixed outdated data struct
  skema/rest/llm_proxy.py
Labels: Integration
