Repository ml4ai/skema, pull requests merged in 2023-07, with the labels that each got.

#299 Further updates to code2fn endpoints
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Labels: bugfix, Code2FN

#301 Unified REST API
  pyproject.toml
  skema/img2mml/__init__.py
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eqn2mml.py
  skema/program_analysis/comments.py
  skema/rest/__init__.py
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema_py/__init__.py
  skema/skema_py/server.py
Labels: Integration

#304 [integration] Error handling for /workflows endpoints
  skema/img2mml/eqn2mml.py
  skema/rest/workflows.py
Labels: Integration

#305 [integration] code -> AMR endpoints
  pyproject.toml
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eqn2mml.py
  skema/rest/utils.py
  skema/rest/workflows.py
Labels: Integration, MORAE, Code2FN

#306 [integration] re-deploy if CI completes successfully
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  Dockerfile.skema-py
Labels: Integration

#322 [CI] Run unit tests for Rust components
  .github/workflows/tests-and-docs.yml
Labels: CI

#320 [skema-py] - Automatically enrich System with comments
  skema/rest/workflows.py
  skema/skema_py/server.py
Labels: enhancement, Code2FN

#324 Content MathML output + improvements to FirstOrderODE construction process
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/test_service.rs
Labels: enhancement

#326 Support for parsing MathML with light interpretation
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: enhancement

#330 Solve #280
  skema/img2mml/api.py
  skema/img2mml/eqn2mml.py
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_cli.py
  skema/img2mml/img2mml_demo.py
  skema/img2mml/tests/test_model_loading.py
  skema/img2mml/translate.py
Labels: enhancement, Equations

#329 [code2fn] - Support for Fortran Record Idiom and TS2CAST enchancements
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
  skema/program_analysis/multi_file_ingester.py
Labels: enhancement, Code2FN

#350 [code2fn] - Pydantic model_validate fix
  skema/skema_py/server.py
Labels: bug, Code2FN

#366 Use Git commit short hash for skema-rs version
  .github/workflows/docker.yml
  Dockerfile.skema-rs
Labels: Integration
