Repository ml4ai/skema, pull requests merged in 2023-08, with the labels that each got.

#404 Fixed an issue where the endpoint failed in the case of an invalid Op…
  skema/rest/integrated_text_reading_proxy.py
Labels: bugfix

#405 Enoriega/tr endpoint healthceck fix
  skema/rest/integrated_text_reading_proxy.py
Labels: bugfix

#419 [fortran] Adds support for compound conditional
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Labels: enhancement, Code2FN

#418 [code2fn] - tree-sitter comment enrichment and unification
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/fn_unifier.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/workflows.py
  skema/skema-rs/Cargo.lock
  skema/skema-rs/Cargo.toml
  skema/skema-rs/README.md
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/README.md
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/comments.rs
  skema/skema-rs/comment_extraction/src/conventions.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/extraction.rs
  skema/skema-rs/comment_extraction/src/languages.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/comment_extraction/tests/data/CHIME_SIR.py
  skema/skema-rs/comment_extraction/tests/data/PET.for
  skema/skema-rs/comment_extraction/tests/data/chime_sir_output.json
  skema/skema-rs/comment_extraction/tests/data/comment_test.cpp
  skema/skema-rs/comment_extraction/tests/data/quote_test.c
  skema/skema-rs/comment_extraction/tests/data/test.c
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/tests/test_service.rs
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Labels: enhancement, Code2FN

#425 Introduces changes.md to document semver tags
  .github/labeler.yml
  .github/workflows/add-labels-to-pr.yml
  .github/workflows/changes-updated.yml.disabled
  docs/changes.md
  mkdocs.yml
Labels: documentation, CI

#426 Updated AMR with header
  skema/skema-rs/mathml/src/acset.rs
Labels: MORAE
