Repository ml4ai/skema, pull requests merged in 2023-12, with the labels that each got.

#709 [fortran] Fortran optimization and bug fixes
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/model_coverage_report/generate_dummy_imports.py
  skema/program_analysis/model_coverage_report/generate_model_zip.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/models.yaml
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Labels: lang/Fortran

#714 Evaluation endpoint for grading on the Dashboard
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/data/integrated_text_reading/eval/annotations.json
  skema/rest/tests/data/integrated_text_reading/eval/contents.json
  skema/rest/tests/data/integrated_text_reading/eval/extractions.json
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/utils.py
Labels: Integration

#716 Scenario-3-Prep
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Labels: MORAE, lang/Rust

#723 Initial Function as Argument support for code2amr
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Labels: MORAE, lang/Rust

#727 Updates to LLM endpoints
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: enhancement, Integration, bugfix

#729 Fixed small bug for imports
  skema/rest/workflows.py
  skema/skema-rs/skema/src/database.rs
Labels: Integration, MORAE, lang/Rust

#722 [fortran] Further bug fixes and speed improvements
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/util.py
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/utils/script_functions.py
Labels: lang/Fortran

#730 Handles Sidharthe derivative
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: Equations, MORAE, lang/Rust

#676 Jastier/loops
  skema/program_analysis/CAST/matlab/__init__.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/__init__.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_file_ingest.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/variable_context.py
Labels: Integration, lang/MATLAB

#735 [ISA] Add the ISA service and reorganize the code implementation
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
  skema/rest/tests/test_isa.py
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, MORAE, ISA, lang/Rust

#736 Skema Docs CAST Development Notes
  docs/dev/cast_frontend.md
  mkdocs.yml
Labels: documentation

#741 [REST] Refactor for improved consistency
  skema/img2mml/eqn2mml.py
  skema/isa/data.py
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
  skema/rest/tests/test_isa.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Labels: Integration, Equations, ISA
