Repository ml4ai/skema, pull requests merged in 2023-09, with the labels that each got.

#442 Temporarily commented out unit tests
  skema/rest/tests/test_integrated_text_reading_proxy.py
Labels: Integration

#439 [docs] Instructions for creating an incremental release
  docs/dev/creating-an-incremental-release.md
  mkdocs.yml
Labels: documentation

#438 Incorporated msub identifier for state variables in first order ode
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Labels: MORAE

#451 Create and publish docker image for text reading webapp
  .github/workflows/docker.yml
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/conf/application.conf
  skema/text_reading/scala/webapp/conf/routes
  skema/text_reading/scala/webapp/docker.sbt
Labels: bugfix, CI

#463 Unicode support for newtonian derivative
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Labels: MORAE

#465 [TextReading] Fixes TR endpoints in REST API
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/proxies.py
Labels: bugfix, Text Reading

#467 [TextReading] Updated the field names for the data model
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/rest/tests/test_metal_proxy.py
Labels: Integration

#474 Updates to parsers
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/model_extraction.rs
Labels: Integration, MORAE

#482 [CI] Use fork with fix to jlumbroso/free-disk-space/issues/9
  .github/workflows/docker.yml
Labels: CI

#480 Increased the timeouts to handle long PDFs gracefully
  .github/workflows/docker.yml
  skema/text_reading/scala/webapp/build.sbt
  skema/text_reading/scala/webapp/conf/application.conf
Labels: bugfix, CI

#483 GroMEt Function Call Handler Rewrite PR
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_primitive.py
Labels: lang/Python

#479 [fortran] Support for fixed-form source and pinned tree-sitter-parser
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Labels: enhancement, lang/Fortran

#485 List and pin transitive dependency
  .github/workflows/tests-and-docs.yml
  docs/changes.md
  mkdocs.yml
  pyproject.toml
Labels: documentation, CI

#469 fix a gpu loading issue
  skema/img2mml/api.py
Labels: Equations

#488 Initial CAST support for MATLAB
  pyproject.toml
  skema/program_analysis/CAST/__init__.py
  skema/program_analysis/CAST/fortran/__init__.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
  skema/program_analysis/CAST/matlab/__init__.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/CAST/matlab/util.py
  skema/program_analysis/CAST/matlab/variable_context.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/__init__.py
  skema/program_analysis/matlab2cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/tree_sitter_parsers/.gitignore
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Labels: lang/Fortran, lang/Python, lang/MATLAB

#496 [Text Reading] Support for grounding annotation outputs
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotatePlainTextFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
Labels: Text Reading

#502 [morae] Update to Memgraph LiteralValue representation
  skema/skema-rs/skema/src/database.rs
Labels: enhancement, MORAE

#516 [TextReading] Added the TR evaluation endpoint
  skema/rest/data/extractions_sidarthe_skema.json
  skema/rest/data/sidarthe_annotations.json
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Labels: Integration

#504 MATLAB Tree-sitter regression testing with GitHub CI
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Labels: lang/MATLAB

#517 Incorporated multiply in MathML and fixed minor bugs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE

#507 [Text Reading] Set `_JAVA_OPTIONS` to min. RAM requirements
  skema/text_reading/scala/webapp/docker.sbt
Labels: Integration

#520 [python] add missing deps
  pyproject.toml
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/astpp.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Labels: lang/Python

#519 [rust] remove unused dependencies
  .gitignore
  Dockerfile.skema-rs
  skema/skema-rs/Cargo.lock
  skema/skema-rs/README.md
  skema/skema-rs/skema/Cargo.toml
Labels: MORAE, lang/Rust

#527 MATLAB single assignment test
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Labels: Code2FN

#534 CAST parsing functions
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tree_builder.py
Labels: Code2FN, lang/MATLAB

#535 continue on error for TR docker builds
  .github/workflows/docker.yml
Labels: CI

#521 [execution_engine] Initial support for parameter extraction and Gromet execution
  pyproject.toml
  skema/gromet/execution_engine/execute.py
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/symbol_table.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Labels: enhancement, lang/Fortran
