Repository ml4ai/skema, pull requests merged in 2023-11, with the labels that each got.

#615 Pin node minor version to avoid occasional CI issue
  Dockerfile.skema-py
Labels: bugfix, CI

#609 Fix to gradient and Hackathon halfar dome tests
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/database.rs
Labels: MORAE

#612 More Fn-Preprocessing
  pyproject.toml
  skema/rest/utils.py
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Labels: Integration, MORAE

#613 MATLAB conditional logic
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
Labels: lang/MATLAB

#619 CAST test upgrades
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_conditional_logic.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tree_out
Labels: lang/MATLAB

#620 Implemented trimming of post-processed commas and periods in MathML
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Labels: MORAE

#614 [testing] Updates to code2fn model coverage reports
  pyproject.toml
  skema/program_analysis/model_coverage_report/base.html
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/rest/utils.py
Labels: Integration

#634 MATLAB switch statement support
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tree_out
  skema/program_analysis/CAST/matlab/variable_context.py
Labels: lang/MATLAB

#637 [morae] LLM assisted code->AMR endpoint + support for CHIME-SIR
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#641 MATLAB function call, operator and matrix support, code cleanup
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/tree_out
Labels: lang/MATLAB

#649 [documentation] Moving wiki pages to Github Pages site
  docs/dev/adding_new_model.md
  docs/dev/adding_new_tree_sitter_frontend.md
  docs/dev/generating_code2fn_model_coverage.md
  docs/dev/using_code_ingestion_frontends.md
  docs/dev/using_tree_sitter_preprocessor.md
  mkdocs.yml
Labels: documentation

#650 [rest] Adding SKEMA_GRAPH_DB_HOST and SKEMA_GRAPH_DB_PORT environment variables
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution.py
  skema/rest/proxies.py
Labels: Integration

#658 [memgraph/morae] env-based memgraph connection changes and multi-file system support for linespans
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-and-docs.yml
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/database_old.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Labels: Integration, MORAE, CI, lang/Rust

#666 Disabled the TR tests for the weekend
  skema/rest/tests/test_integrated_text_reading_proxy.py
Labels: Integration, hack

#656 Matrix and list handling bugfixes, improved testing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/variable_context.py
Labels: bugfix, lang/MATLAB

#644 [Python] Function Keyword Argument and Function Call through Parameter PR
  skema/gromet/execution_engine/types/other.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_fun_arg_fun_call.py
  skema/program_analysis/tests/test_import_method.py
Labels: bug

#668 Use local skema-rs service in CI testing of Python
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-and-docs.yml
  skema/rest/tests/test_model_to_amr.py
Labels: Integration, CI

#664 Sexp2latex
  .github/workflows/tests-and-docs.yml
  pyproject.toml
  skema/img2mml/translate.py
  skema/rest/llm_proxy.py
  skema/rest/tests/data/img2latex/halfar.png
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema_py/server.py
Labels: Integration, Equations, MORAE, CI, lang/Rust

#654 Additional parsing supports
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#672 [execution_engine] Switching to neo4j driver
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution.py
  skema/rest/proxies.py
  skema/rest/tests/test_model_to_amr.py
Labels: Integration

#673 fixed a typo in the LLM endpoint
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Labels: Integration

#671 Waterloo Model CAST translation
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/matlab.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_file_ingest.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
Labels: lang/MATLAB

#675 Small morae fix 2
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#674 [execution_engine] Adds neo4j dependancy to pyproject.toml
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/server.py
  skema/rest/api.py
Labels: Integration

#679 Fixes to error messages
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: MORAE, lang/Rust

#681 [img2latex] Change "/" to "\frac" in latex expression
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#680 Small Morae fix 3
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#682 Consistent Response times for LLM related endpoints
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#684 Better Logging and Error handling for LLM endpoints
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#686 [documentation] Updates to docker build instructions
  docs/dev/docker.md
Labels: documentation

#688 [rest] Convert rest endpoint names to kebab-case
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution_server.py
  skema/rest/api.py
Labels: Integration

#692 [rest] Fixing typo in environment-variables endpoint
  skema/rest/api.py
Labels: Integration

#693 Changes to docker build settings
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
Labels: CI

#689 [ci] Fixing missing .so file and unit tests for core endpoints
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/rest/api.py
  skema/rest/tests/test_core.py
Labels: Integration, CI

#695 Handling Mtext and test provided by s-exp
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#705 Parser for sqrt
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: Equations, MORAE, lang/Rust

#706 [img2latex] Handle negative minus and sqrt in to_latex and add tests for mtext
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: Equations, MORAE, lang/Rust

#707 Removed duplicate tests and cargo fix
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#694 Model Coverage Regression Testing PR
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/tests/test_model_coverage.py
Labels: CI

#704 Rust neo4rs Driver Switch
  .github/workflows/tests-and-docs.yml
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, MORAE, CI, lang/Rust
