Repository ml4ai/skema, pull requests merged in 2024-03, with the labels that each got.

#834 [fortran] Fix for function declarations in derived types
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/variable_context.py
Labels: lang/Fortran

#844 Enoriega/issue837
  skema/metal/model_linker/examples/data/gamr.json
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/metal/model_linker/skema_model_linker/linkers/generalizer_amr_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/generalized_amr.py
  skema/metal/model_linker/skema_model_linker/walkers/json.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/tests/data/metal/SIDARTHE_AMR_uuids.json
  skema/rest/tests/test_metal_proxy.py
Labels: Integration

#852 Regnet Bug Fixes
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: bugfix, MORAE, lang/Rust

#854 Fixed default string for intitals mathml in PN
  skema/skema-rs/mathml/src/acset.rs
Labels: MORAE, lang/Rust

#857 Added support for optional annotation of AMR linking
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Labels: Integration

#859 Fixed error code bug
  skema/rest/workflows.py
Labels: Integration

#866 Fix * parse error
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Labels: MORAE, lang/Rust

#865 Additional parsers that can parse MathML to output MathExpressionTree and Latex
  skema/rest/tests/test_eqns_to_mets.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Labels: Integration, MORAE, lang/Rust

#864 Enoriega/849
  skema/rest/integrated_text_reading_proxy.py
Labels: Integration

#870 Bugfix for linking petrinets
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Labels: bugfix

#872 Full Infix Notation Fix and Multiplication Tree Depth Bugfix
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: bugfix, MORAE, lang/Rust

#860 [m12] code2fn documentation and unit test updates
  docs/dev/adding_dependency_generation.md
  mkdocs.yml
  pyproject.toml
  skema/gromet/execution_engine/server.py
  skema/program_analysis/CAST/fortran/tests/test_conditional_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_expression_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_for_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_identifier_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_operation_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
  skema/program_analysis/CAST/fortran/tests/test_while_cast_fortran.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/comment_extractor/server.py
  skema/skema_py/server.py
Labels: documentation, lang/Fortran
