Repository ml4ai/skema, pull requests merged in 2024-02, with the labels that each got.

#780 [fortran] Support for Computed GO TO
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/tests/test_goto_computed.py
Labels: lang/Fortran

#781 [ISA] A new workflow endpoint to align equations from papers and the corresponding equations in code
  skema/isa/lib.py
  skema/rest/tests/test_isa.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema_py/server.py
Labels: Integration, MORAE, ISA, lang/Rust

#777 Adding CI workflow tests
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Labels: Integration

#786 Pinned Rust dependencies
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: MORAE, lang/Rust

#794 Additional parsers can be handled
  Dockerfile.skema-rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/gromet.rs
Labels: MORAE, lang/Rust

#765 MATLAB to GroMEt testing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Labels: lang/MATLAB

#800 Docstrings to operators and mathexpressions added
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#801 [Equations] Convert pMathML/LaTeX to MathExpressionTree
  skema/rest/schema.py
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, Equations, lang/Rust

#803 Python tree-sitter to CAST Porting: Comprehensions and Lambdas
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/tests/test_adv_comprehension_lambda_cast.py
  skema/program_analysis/tests/test_comprehension_lambda_cast.py
Labels: Code2FN, lang/Python

#802 Generalized AMR Endpoints
  skema/rest/workflows.py
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, MORAE, lang/Rust

#813 [Equations] Support the mixed LaTeX and MathML in eqns2met
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
Labels: Integration, Equations

#812 [Equations] Remove redundant parentheses when converting pMathML to LaTeX
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: Equations, lang/Rust

#821 New consolidated AMR endpoints
  skema/rest/schema.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Labels: Integration

#823 Added more documentation, expanded error handling, fixed default values
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/acset.rs
Labels: Integration, MORAE, lang/Rust

#824 [Equations] fix the divide error in parser
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Labels: Equations, lang/Rust

#825 Fixed some documentation errors
  skema/rest/schema.py
  skema/rest/workflows.py
Labels: Integration

#828 [Equations] Fixes/rewrite to some operators, additional comments and additional parsers
  skema/isa/data.py
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_isa.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Labels: Integration, Equations, MORAE, ISA, lang/Rust

#831 Added initial support for Polynomial Diff eqs for Petrinet and Regnet
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Labels: MORAE, lang/Rust

#833 Fixed regnet bug
  skema/skema-rs/mathml/src/acset.rs
Labels: bugfix, MORAE, lang/Rust
