Repository ml4ai/skema, pull requests merged in 2024-01, with the labels that each got.

#739 [fortran] CISM coverage updates
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/pythonAST/modules_list.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Labels: CI, lang/Fortran

#751 Parsers to handle additional mathematical expressions
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Labels: MORAE, lang/Rust

#734 CAST to GroMEt bugfix
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Labels: bugfix, lang/MATLAB

#749 [REST] Performance improvements (async and client reuse)
  pyproject.toml
  skema/isa/isa_service.py
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/comment_extractor/tests/test_comment_server.py
  skema/rest/api.py
  skema/rest/config.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/llm_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Labels: Integration, bugfix, ISA

#756 Fixed #755
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/utils.py
Labels: Integration, bugfix

#757 Code2MET Rust Endpoint
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Labels: Integration, MORAE, lang/Rust

#759 [Equations] Add the base64 support to equations_to_latex
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Labels: Integration

#758 [code2fn] Additional validation for code2fn endpoints
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Labels: Integration

#776 Vraymond/bucky fix
  skema/program_analysis/python_preprocessor.py
  skema/program_analysis/tests/test_model_coverage.py
  skema/skema_py/tests/test_server.py
Labels: bugfix, Code2FN, lang/Python
